<div class="jumbotron theme text-center">
  <h1 class="text-white">
    {{ title }}
  </h1>
</div>

<ng-template #newInit let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Initiative Actor</h4>
  </div>
  <form>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <input class="form-control" placeholder="Actor Name" #actorName ngModel="actorName">
        </div>
        <div class="col-md-6">
          <input class="form-control" placeholder="Roll or Modifier" #roll ngModel="roll">
        </div>
      </div>
      <div class="row padded-small">
        <div class="col-md-6">
          <input class="form-control" placeholder="Current HP" #hp ngModel="hp">
        </div>
        <div class="col-md-6">
          <input class="form-control" placeholder="Group Size (if applicable)" #multiples ngModel="multiples">
        </div>
      </div>
      <div class="row padded-small">
        <div class="col-md-12">
          <input class="form-control" placeholder="Entente" #entente ngModel="entente">
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="buildActor(actorName.value, roll.value, hp.value, multiples.value, entente.value, ''); modal.close('Close click');">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>


<div class="section">
  <div class="container padded">
    <div class="row">

      <div class="col-md-4">
        <h2 class="text-center">Initiative Order
          <button class="btn btn-outline-secondary mb-2 mr-2" (click)="addActorModal(newInit)">Add Actor</button>
        </h2>

        <div class="panel panel-primary pre-scrollable">
          <div class="statBloc" *ngFor="let actor of actorArray; let i = index;" (click)="editActorModal(actor)">
            <div class="card statBloc"  id="actor{{i}}" [ngStyle]="getColor(i)">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-8">
                    <h3 class="panel-title">
                      {{actor.name}}
                    </h3>
                  </div>
                  <div class="col-md-4">
                    <h4 class=""><i class="fas fa-dice-d20">
                      {{actor.roll}}
                    </i></h4>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-8">
                    <h4><i class="fas fa-users">
                      {{actor.size}}
                    </i></h4>
                  </div>
                  <div class="col-md-4">
                    <h4><i class="fas fa-heart">
                      {{actor.hp}}
                    </i></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <h4 *ngIf="actor.entente === 'Friendly'"><i class="fas fa-fist-raised">
                      {{actor.entente}}
                    </i></h4>
                    <h4 *ngIf="actor.entente === 'Enemy'"><i class="fas fa-dragon">
                      {{actor.entente}}
                    </i></h4>
                    <h4 *ngIf="actor.entente !== 'Enemy' && actor.entente !== 'Friendly'"><i class="fas fa-scroll">
                      {{actor.entente}}
                    </i></h4>
                  </div>
                  <div class="col-md-4">
                    <h4>
                      <button type="button" class="btn btn-outline-secondary" (click)="removeInit(actor.id); $event.stopPropagation();">
                        <i class="fas fa-minus-circle"></i>
                      </button>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--<div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="statBloc" *ngFor="let player of friendlyArray; let i = index;">
              <div class="card statBloc"  id="friendly{{i}}">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    {{player.name}}
                  </h3>
                </div>
                <div class="panel-body">
                </div>
              </div>
          </div>
        </div>
      </div>-->

    </div>
  </div>
</div>
