<div class="jumbotron theme text-center">
  <h1 class="text-white">
    {{ title }}
  </h1>
</div>

<ng-template #initModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!actorMap.get(modalContent.id)">
      New Initiative Actor
    </h4>
    <h4 class="modal-title" *ngIf="actorMap.get(modalContent.id)">
      Edit {{modalContent.name}}
    </h4>
  </div>
  <form>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <input class="form-control" value="{{modalContent.name}}" placeholder="Actor Name" #actorName ngModel="actorName">
        </div>
        <div class="col-md-6">
          <input class="form-control" value="{{modalContent.roll}}" placeholder="Roll or Modifier" #roll ngModel="roll">
        </div>
      </div>
      <div class="row padded-small">
        <div class="col-md-6">
          <input class="form-control" value="{{modalContent.hp}}" placeholder="Current HP" #hp ngModel="hp">
        </div>
        <div class="col-md-6">
          <input class="form-control" value="{{modalContent.size}}" placeholder="Group Size (if applicable)" #multiples ngModel="multiples">
        </div>
      </div>
      <div class="row padded-small">
        <div class="col-md-12">
          <input class="form-control" value="{{modalContent.entente}}" placeholder="Entente" #entente ngModel="entente">
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="buildActor(actorName.value, roll.value, hp.value, multiples.value, entente.value, modalContent.id); modal.close('Close click');">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>


<div class="section">
  <div class="container padded">
    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">
              Initiative Order
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <button class="btn btn-outline-secondary mb-2 mr-2" (click)="previous()">
              <i class="fas fa-arrow-circle-left"></i>
            </button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-secondary mb-2 mr-2" (click)="addActorModal(initModal)">
              <i class="fas fa-plus-circle"></i>
            </button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-secondary mb-2 mr-2" (click)="next()">
              <i class="fas fa-arrow-circle-right"></i>
            </button>
          </div>
          <div class="col-md-2"></div>
        </div>

        <div class="panel panel-primary pre-scrollable">
          <div class="statBloc" *ngFor="let actor of actorArray; let i = index;" (click)="editActorModal(initModal, actor)">
            <div class="card statBloc"  id="actor{{i}}" [ngStyle]="getColor(i)" *ngIf="actor.id !== -1">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-8">
                    <h3 class="panel-title">
                      {{actor.name}}
                    </h3>
                  </div>
                  <div class="col-md-4">
                    <h4 class=""><i class="fas fa-dice-d20">
                      {{actor.roll}}
                    </i></h4>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-8">
                    <h4><i class="fas fa-users">
                      {{actor.size}}
                    </i></h4>
                  </div>
                  <div class="col-md-4">
                    <h4><i class="fas fa-heart">
                      {{actor.hp}}
                    </i></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <h4 *ngIf="actor.entente === 'Friendly'"><i class="fas fa-fist-raised">
                      {{actor.entente}}
                    </i></h4>
                    <h4 *ngIf="actor.entente === 'Enemy'"><i class="fas fa-dragon">
                      {{actor.entente}}
                    </i></h4>
                    <h4 *ngIf="actor.entente !== 'Enemy' && actor.entente !== 'Friendly'"><i class="fas fa-scroll">
                      {{actor.entente}}
                    </i></h4>
                  </div>
                  <div class="col-md-4">
                    <h4>
                      <button type="button" class="btn btn-outline-secondary" (click)="removeInit(actor.id); $event.stopPropagation();">
                        <i class="fas fa-minus-circle"></i>
                      </button>
                    </h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="roundEnd" id="round" *ngIf="actor.id === -1" (click)="$event.stopPropagation();">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-12 text-center strike">
                    <span>
                      <h4 class="panel-title">
                        <i class="far fa-clock unselectable">
                          {{actor.name}}
                        </i>
                      </h4>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">
              Encounter Manager
            </h2>
          </div>
        </div>
        <div class="row border-bottom">
          <div class="col-md-4">
            <button class="btn btn-outline-secondary" (click)="resetEncounter()">New Encounter</button>
          </div>
          <div class="col-md-4">
            <h4>Round: {{round}}</h4>
          </div>
          <div class="col-md-4">
            <h4>Elapsed Time (s): {{(round - 1) * 6}}</h4>
          </div>
        </div>
        <div class="row">

          <div *ngFor="let entente of ententes" [ngClass]="'col-md-' + (12 / ententes.length)">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">
                  {{entente}}
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-primary pre-scrollable">
                  <div class="statBloc" *ngFor="let actor of actorArray; let i = index;" (click)="editActorModal(initModal, actor)">
                    <div class="card statBloc"  id="{{entente}}{{i}}" [ngStyle]="getColor(i)" *ngIf="actor.id !== -1 && actor.entente === entente">
                      <div class="panel-heading">
                        <div class="row">

                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-6">
                            <h3 class="panel-title">
                              {{actor.name}}
                            </h3>
                          </div>
                          <div class="col-md-6">
                            <h4>{{actor.hp}}</h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h4>
                              <button type="button" class="btn btn-outline-secondary" (click)="removeInit(actor.id); $event.stopPropagation();">
                                <i class="fas fa-minus-circle"></i>
                              </button>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
