h1 {
    text-shadow: 2px 2px #2D3047;
    color: #ffffff;
    text-align: center;
}

.app-body {
    background-color: #FFF8F0;
}


.tracker {
    width:90%;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
}

.tracker {
    border:solid 5px hsla(0, 95%, 35%, 1);
}

.tracker-piece {
    width:90%;
    margin:5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
}

.tracker-piece {
    border:solid 5px hsla(0, 95%, 35%, 1);
}

.color1 {
    color: #502419;
}
.color2 {
    color: #9D0B0B;
}
.color3 {
    color: #DA2D2D;
}
.color4 {
    color: #EB8242;
}
.color5 {
    color: #F9E784;
}

.jumbotron {
    background-image: url(mockup-photos-5nUNdLueQio-unsplash.jpg);
    background-size: cover;
    color:white;
}


.scrollwork {
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}



.btn-flip {
    border:none;
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #adadaf;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #502419;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #502419;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}
